/* md card, PDFCard layout */
.PDFCard {
	width: 100%;
	height: auto;
	background-color: yellow;
	position: relative;
}

.PDFCard #PDFCard1 {
	position: relative;
	width: calc(100% / 20 * 3);
	height: auto;
	background-color: red;
}

.PDFCard #PDFCard2 {
	position: relative;
	width: calc(100% / 20 * 14);
	height: auto;
	background-color: blue;
}

.PDFCard #PDFCard3 {
	position: relative;
	width: calc(100% / 20 * 3);
	height: auto;
	background-color: green;
}

/*#4 {
	
}

#5 {
	
}

#6 {
	
}

#7 {
	
}

#8 {
	
}

#9 {
	
}

#10 {
	
}

#11 {
	
}*/