/* md card, PDFCard layout */
.PDFCard {
	width: 100%;
	height: auto;
	/*background-color: yellow;*/
	position: relative;
	padding: 15px;
}

/* row 1 */
.PDFCard #PDFCard1 {
	position: absolute;
	width: calc(100% / 20 * 3);
	height: auto;
	left: 0;
	top: 0;
	background-color: red;
	height: 100px;
}

.PDFCard #PDFCard2 {
	position: absolute;
	width: calc(100% / 20 * 14);
	height: auto;
	left: calc(100% / 20 * 3);
	top: 0;
	background-color: blue;
	height: 100px;
}

.PDFCard #PDFCard3 {
	position: absolute;
	width: calc(100% / 20 * 3);
	height: auto;
	left: calc(100% / 20 * 17);
	top: 0;
	background-color: green;
	height: 150px;
}

/* row 2 */
.PDFCard #PDFCard4 {
	position: absolute;
	width: calc(100% / 20 * 11);
	height: auto;
	left: 0;
	top: 100px;
	background-color: black;
	height: 50px;
}

.PDFCard #PDFCard5 {
	position: absolute;
	width: calc(100% / 20 * 2);
	height: auto;
	left: calc(100% / 20 * 11);
	top: 100px;
	background-color: orange;
	height: 50px;
}

.PDFCard #PDFCard6{
	position: absolute;
	width: calc(100% / 20 * 2);
	height: auto;
	left: calc(100% / 20 * 13);
	top: 100px;
	background-color: purple;
	height: 50px;
}

.PDFCard #PDFCard7 {
	position: absolute;
	width: calc(100% / 20 * 2);
	height: auto;
	left: calc(100% / 20 * 15);
	top: 100px;
	background-color: brown;
	height: 50px;
}

