 * {
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana;

}

body {
  background-color: #E0E0E0;
}

h1 {
  font-size: 40px;
  color: #616161;
}

p {
  color: #616161;
}

table tr td {
  padding: 0px 10px;
}

.right {
  float: right;
}

.paddingContainer {
  padding: 25px;
}

.sablonoLogo {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 20%;
}

button#btnNewStory, button#btnShowStory {
  background-color: #FFD200;
  color: #616161;
  cursor: pointer;
}

button#btnOpenPDF, button#btnSavePDF {
  background-color: #FFD200;
  color: #616161;
  cursor: pointer;
}

button#addRequirement {
  background-color: #FFD200;
  color: #616161;
  cursor: pointer;
}
/*a.md-button.md-primary.md-raised.orangeBtn, a.md-button.md-primary.md-fab.orangeBtn, .md-button.md-primary.md-raised.orangeBtn, .md-button.md-primary.md-fab.orangeBtn, a.md-button.md-primary.md-raised.orangeBtn:not([disabled]):hover, a.md-button.md-primary.md-fab.orangeBtn:not([disabled]):hover, .md-button.md-primary.md-raised.orangeBtn:not([disabled]):hover, .md-button.md-primary.md-fab.orangeBtn:not([disabled]):hover {
  background-color: #FFD200;
  color: #616161;
  cursor: pointer;
}
*/
/*a.md-button.md-primary.md-raised.greenBtn, a.md-button.md-primary.md-fab.greenBtn, .md-button.md-primary.md-raised.greenBtn, .md-button.md-primary.md-fab.greenBtn, a.md-button.md-primary.md-raised.greenBtn:not([disabled]):hover, a.md-button.md-primary.md-fab.greenBtn:not([disabled]):hover, .md-button.md-primary.md-raised.greenBtn:not([disabled]):hover, .md-button.md-primary.md-fab.greenBtn:not([disabled]):hover {
  background-color: #26BF59;
  color: #FFF;
  cursor: pointer;
}

a.md-button.md-primary.md-raised.blueBtn, a.md-button.md-primary.md-fab.blueBtn, .md-button.md-primary.md-raised.blueBtn, .md-button.md-primary.md-fab.blueBtn, a.md-button.md-primary.md-raised.blueBtn:not([disabled]):hover, a.md-button.md-primary.md-fab.blueBtn:not([disabled]):hover, .md-button.md-primary.md-raised.blueBtn:not([disabled]):hover, .md-button.md-primary.md-fab.blueBtn:not([disabled]):hover {
  background-color: #00B4C8;
  color: #FFF;
  cursor: pointer;
}*/

.showDataStory {
  background-color: red;
  /*width: 100%;
  height: 100%;*/
}

#step1Container, #step2Container {
  display: none;
}

#storyDiv {
  position: absolute;
  top: 25px;
  left: 25px;
}

#controls {
  margin-top: 25px;
}

#sprintDiv {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#product-key, #subdomain, #sprintDiv {
  display: none;
}

#storyNumber {
  border: 0;
  background-color: #E0E0E0;
  color: #616161;
  padding: 8px 0;
  border-bottom: 1px solid #616161;
  outline: none;
}
