 * {
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana;

}

body {
  background-color: #E0E0E0;
}

h1 {
  font-size: 40px;
  color: #616161;
}

p {
  color: #616161;
}

table tr td {
  padding: 0px 10px;
}

.right {
  float: right;
}

.paddingContainer {
  padding: 25px;
}

.sablonoLogo {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 20%;
}

button#btnNewStory, button#btnShowStory {
  background-color: #FFD200;
  color: #616161;
  cursor: pointer;
}

button#btnOpenPDF, button#btnSavePDF, button#btnPrintPDF {
  background-color: #26BF59;
  color: #FFF;
  cursor: pointer;
}

button#addRequirement {
  background-color: #00B4C8;
  color: #FFF;
  cursor: pointer;
}

.showDataStory {
  background-color: red;
  /*width: 100%;
  height: 100%;*/
}

#addRequirementValue {
  width: 360px;
}

#step1Container, #step2Container, #sprintstep2Container {
  display: none;
}

#storyDiv {
  position: absolute;
  top: 25px;
  left: 25px;
}

#controls {
  margin-top: 25px;
}

#sprintDiv {
  position: absolute;
  left: 25px;
  top: 210px;
}

 #subdomain {
  display: none;
}

#storyNumber, #sprintNumber {
  border: 0;
  background-color: #E0E0E0;
  color: #616161;
  border-bottom: 1px solid #616161;
  height: 36px;
  outline: none;
}

#addRequirementValue {
  width: 360px;
  border: 0;
  background-color: #E0E0E0;
  border-bottom: 1px solid #616161;
  height: 36px;
  outline: none;
}

.infoText {
  font-size: 10px;
  font-style: italic;
}

.borderTable {
  border-top: 1px solid #616161;
}