/*
 littlebit of styling for the webpage
*/

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana;
}

body, html {
  background-color: #E0E0E0;
  height: auto !important;
}

h1 {
  font-size: 40px;
  color: #616161;
}

p {
  color: #616161;
}

table tr td {
  padding: 0px 10px;
}

md-progress-circular .md-inner .md-gap {
  border-top-color: #00B4C8;
  border-bottom-color: #00B4C8;

}

md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: #00B4C8;
}

md-progress-circular .md-inner .md-left .md-half-circle {
  border-top-color: #00B4C8;
}

md-progress-circular .md-inner .md-right .md-half-circle {
  border-right-color: #00B4C8;
}

md-progress-circular .md-inner .md-right .md-half-circle {
  border-top-color: #00B4C8;
}



.overlap {
  z-index: 9999999999999999999999999;
}

.layout-align-space-around, .layout-align-space-around-center, .layout-align-space-around-end, .layout-align-space-around-start {
    z-index: 0;
}

.right {
  float: right;
}

.paddingContainer {
  padding: 25px;
}

.sablonoLogo {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 20%;
}

button#btnNewStory, button#btnShowStory, button#btnNewSprint {
  background-color: #FFD200;
  color: #616161;
  cursor: pointer;
}

button#btnOpenPDF, button#btnSavePDF, button#btnPrintPDF, button#btnPrintPDFSprint, button#btnOpenPDFSprint, button#btnSavePDFSprint {
  background-color: #26BF59;
  color: #FFF;
  cursor: pointer;
}

.showDataStory {
  background-color: red;
}

#addRequirementValue {
  width: 360px;
}

#step1Container, #step2Container, #sprintstep2Container {
  display: none;
}

#storyDiv {
  position: absolute;
  top: 25px;
  left: 25px;
}

#controls {
  margin-top: 25px;
}

#sprintDiv {
  position: absolute;
  left: 25px;
  top: 210px;
}

 #subdomain {
  display: none;
}

#storyNumber, #sprintNumber {
  border: 0;
  background-color: #E0E0E0;
  color: #616161;
  border-bottom: 1px solid #616161;
  height: 36px;
  outline: none;
}

.infoText {
  font-size: 10px;
  font-style: italic;
}


.bold {
  font-weight: bold;
}