<!doctype html>
<html ng-app="ahapdfApp">
  <head>
    <title>Aha! user story to PDF</title>
    <!-- angularjs matrial css -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">


  </head>
  <body ng-controller="homeController">

  <img src="./images/sablonoLogo.png" class="sablonoLogo"/>

 
    <!-- placed step2Container on the top, because of fade effect -->
    <div id="step2Container" class="paddingContainer">
      <p>
        <md-button class="md-raised md-primary" type="submit" id="btnOpenPDF">OPEN story as PDF</md-button> 
        <md-button class="md-raised md-primary" type="submit" id="btnSavePDF">SAVE story as PDF</md-button>
      </p>
      <br />
      <p>
        <md-button class="md-raised md-primary" type="submit" id="btnNewStory">New story</md-button>
      </p>
      <br />
      <h2>Story details</h2>
      <br />
      <p>
        <table id="storyDataTable">
          <tr>
            <!--<td>Story number:</td>-->
            <td>Ticket-ID:</td>
            <td id="ticket-id"></td>
          </tr>
          <tr>
            <!--<td>Story name:</td>-->
            <td>Title:</td>
            <td id="title"></td>
          </tr>
          <tr>
            <!--<td>Story grooming:</td>-->
            <td>Groom:</td>
            <td id="groom"></td>
          </tr>
          <tr>
            <!--<td>Story epic:</td>-->
            <td>Epic:</td>
            <td id="epic"></td>
          </tr>
          <tr>
            <!--<td>Story description:</td>-->
            <td>Story</td>
            <td id="story"></td>
          </tr>
        </table>
      </p>
      <br />
      <p>
        <input type="text" placeholder="Add requirement by hand to PDF" id="addRequirementValue"></input>
        <md-button class="md-raised md-primary" type="submit" id="addRequirement">Add requirement</md-button>
        <br /><span class="infoText">*The by hand added requirement would not be added to the Aha! user story requirements.</span>
      </p>
      
    </div> <!-- step 2 container -->


    <div id="step1Container" class="paddingContainer">
      <!-- input fields to show story -->
      <div id="storyDiv">
        <h1>Story</h1>
        <p> Please fill in a story number. </p>
        <form id="controls">
          <table>
            <tr>
              <!-- Aha! subdomain -->
              <td><input type="text" placeholder="Aha! subdomain" id="subdomain" value="sablono" disabled></input></td>
            </tr>
            <tr>
              <!-- Product key -->
              <td><!--<input type="text" placeholder="Product key" id="product-key" value="WEB"></input>-->

                  <md-input-container>
                    <label>Product Key</label>
                      <md-select ng-model="userState">
                        <md-option ng-repeat="state in states" value="{{state.abbrev}}" selected="{{ state.abbrev === select.name ? 'selected' : '' }}">
                          {{state.abbrev}}
                        </md-option>
                      </md-select>
                  </md-input-container>

              </td>
            </tr>
            <tr>
              <!-- Story Number -->
              <td><input type="text" placeholder="Story number" id="storyNumber" value="WEB-313"></input></td>
              <td><md-button class="md-raised md-primary right orangeBtn" id="btnShowStory" type="submit">Show story</md-button></td>
          </table>
        </form>
      </div>


      <!-- NOT DONE -->
      <!-- <div id="sprintDiv">
        <hr/>
        
        <form id="controlsSprint">
          <table>
            <tr>
              <th>
                Sprint
              </th>
              <th>
                (UNDER CONSTRUCTION)
              </th>
            </tr>
            <tr>
              <td>Aha! subdomain </td>
              <td><input type="text" placeholder="Aha! subdomain" id="subdomain" value="sablono" disabled></input></td>
            </tr>
            <tr>
              <td>Product key </td>
              <td><input type="text" placeholder="Product key" id="product-key" value="WEB" disabled></input></td>
            </tr>
            <tr>
              <td>Sprint Number  </td>
              <td><input type="text" placeholder="Story number" id="sprintNumber" value="WEB-R-30"></input></td>
              <td><input type="button" class="btn right" id="changeStoryNumberNOWsprint" value="Change WEB to NOW"></input><input type="button" class="btn right" id="changeStoryNumberWEBsprint" value="Change NOW to WEB" style="display: none"></input></td>
            </tr>
             <tr>
              <td></td>
              <td><input type="submit" class="btn right orangeBtn" value="Show sprint"></input></td>
            </tr>
          </table>
        </form>
      </div>
    </div>  --><!-- step 1 container -->


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Aha! API -->
    <script type="text/javascript" charset="utf-8" src="https://secure.aha.io/assets/javascript_api/aha-api.latest.js"></script>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>

    <!-- PDFmake -->
    <script src="./js/pdfmake.min.js"></script>
    <script src="./js/vfs_fonts.js"></script>

    <!-- controller -->
    <script src="./js/controller.js"></script>

    <!-- homepage -->
    <script src="./js/homepage.js"></script>

    <!-- create pdf story and sprint -->
    <script src="./js/createpdfStory.js"></script>
    <script src="./js/createpdfSprint.js"></script>


  </body>
</html>